body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: #f2f6ff;
}

.header {
    text-align: center;
    padding: 20px 0;
    background: #0b57d0;
    color: white;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-zonas {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.tarjeta {
    background: white;
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: 0.3s;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.img-zona {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}

.info {
    text-align: center;
    margin-top: 10px;
}

.info h3 {
    margin: 5px 0;
    font-size: 1.1rem;
}

.badge {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}

.buena { background: #16a34a; }
.moderada { background: #eab308; }
.mala { background: #dc2626; }

.grafico-box {
    margin-top: 50px;
    text-align: center;
}

.grafico-box h2 {
    margin-bottom: 15px;
}

.grafico {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}