.body {
    margin: 0;
    padding: 0;
}

.header {
    width: auto;
    background-color: rgb(78, 112, 9);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;
}

.header .logo {
    color: rgb(240, 248, 245);
}

.header .nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 2px 10px;
}

.portada{
    display: flex;
    width: 100%;
    height: 300px;
    padding: 20px;
}

.portada .izquierda{
    background-color: blue;
    width: 50%;
    padding: 20px;
}

.portada .derecha{
    background-color: rgb(255, 250, 250);
    width: 50%;
    text-align: right;
    padding-left: 40px;
}
.portada .derecha .titulo_top{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.portada .derecha .texto{
    font-size: 14px;
    font-family: cursive;
    color: grey;
}

.portada .derecha .botones .btn_yellow{
    background-color: rgba(255, 225, 0, 0.692);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 80px;
}

.portada .derecha .botones .btn_green{
    background-color: rgb(78, 112, 9);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 80px;
}

