* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
}

.app {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #fff;
    padding: 24px 18px;
    box-shadow: 6px 0 20px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
}
.aqua {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aqua h3 {
    color: #287dc7;
    margin-top: 8px;
    font-size: 24px;
}

.logo-img {
    width: 120px;
    margin-bottom: 10px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sidebar button {
    padding: 14px;
    border-radius: 14px;
    border: 1.8px solid #c7d2ff;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #f3f6ff;
    transform: translateX(6px);
}

.sidebar .active {
    background: linear-gradient(90deg,#28c76f,#4a8cff);
    color: white;
    border: none;
}

/* espacio entre notificaciones y perfil */
.sidebar nav button:nth-child(6) {
    margin-top: 40px;
}

.logout {
    color: #ff3b3b;
}

.content {
    flex: 1;
    padding: 40px;
}

/* HEADER */
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    border-radius:18px;
    padding:22px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
    margin-bottom:26px;
}

.top-bar input{
    padding:10px 16px;
    border-radius:20px;
    border:1px solid #ccc;
}

/* FILTER CARD */
.filter-card{
    border-radius:22px;
    padding:24px;
    border:1.5px solid #aaa;
    margin-bottom:26px;
}

.filters{
    display:flex;
    gap:14px;
    margin:16px 0;
}

.filters select,.search{
    padding:8px 14px;
    border-radius:16px;
    border:1px solid #888;
}

.stats{
    display:flex;
    justify-content:space-around;
    margin-top:10px;
}

.stats div{
    text-align:center;
}

/* TABLE */
.table-card{
    border-radius:22px;
    border:1.5px solid #aaa;
    padding:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:14px;
    border-bottom:1px solid #e5e7eb;
}

.tag{
    padding:4px 12px;
    border-radius:14px;
    color:white;
    font-size:13px;
}

.green{background:#22c55e;}
.orange{background:#f59e0b;}
.red{background:#ef4444;}
.blue{color:#3b82f6;}

