* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
}

.app {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #fff;
    padding: 24px 18px;
    box-shadow: 6px 0 20px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
}
.aqua {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aqua h3 {
    color: #287dc7;
    margin-top: 8px;
    font-size: 24px;
}

.logo-img {
    width: 120px;
    margin-bottom: 10px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sidebar button {
    padding: 14px;
    border-radius: 14px;
    border: 1.8px solid #c7d2ff;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #f3f6ff;
    transform: translateX(6px);
}

.sidebar .active {
    background: linear-gradient(90deg,#28c76f,#4a8cff);
    color: white;
    border: none;
}

/* espacio entre notificaciones y perfil */
.sidebar nav button:nth-child(6) {
    margin-top: 40px;
}

.logout {
    color: #ff3b3b;
}
/* CONTENT */
.content {
    flex: 1;
    padding: 40px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input {
    padding: 10px 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 260px;
}

/* FILTER CARD */
.filters-card {
    border: 1.5px solid #999;
    border-radius: 20px;
    padding: 24px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.filters {
    display: flex;
    gap: 14px;
    margin: 16px 0;
    align-items: center;
}

.search-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    padding: 8px 14px;
    border-radius: 14px;
}

.resume {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.resume div {
    text-align: center;
}

.green { color: #28c76f; }
.orange { color: #ff9800; }
.red { color: #ff3b3b; }
.blue { color: #4a8cff; }

/* TABLE */
.table-card {
    border: 1.5px solid #999;
    border-radius: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    text-align: center;
}

.status {
    padding: 6px 14px;
    border-radius: 14px;
    color: white;
    font-size: 12px;
}

.status.warn {
    background: #ff9800;
}

.assign {
    background: linear-gradient(90deg, #28c76f, #4a8cff);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 14px;
    cursor: pointer;
}
