* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #ffffff;
}

.app {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #fff;
    padding: 24px 18px;
    box-shadow: 6px 0 20px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
}
.aqua {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aqua h3 {
    color: #287dc7;
    margin-top: 8px;
    font-size: 24px;
}

.logo-img {
    width: 120px;
    margin-bottom: 10px;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sidebar button {
    padding: 14px;
    border-radius: 14px;
    border: 1.8px solid #c7d2ff;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar button:hover {
    background: #f3f6ff;
    transform: translateX(6px);
}

.sidebar .active {
    background: linear-gradient(90deg,#28c76f,#4a8cff);
    color: white;
    border: none;
}

/* espacio entre notificaciones y perfil */
.sidebar nav button:nth-child(6) {
    margin-top: 40px;
}

.logout {
    color: #ff3b3b;
}

.content {
    flex: 1;
    padding: 40px;
}

/* HEADER */
.top{
    border-bottom:1.5px solid #ddd;
    padding-bottom:20px;
    margin-bottom:30px;
}

.top h1{
    font-size:26px;
}

/* STATS */
.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    border-radius:18px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.08);
}

.card strong{
    font-size:24px;
    display:block;
    margin:10px 0;
}

.green{color:#22c55e}

/* MIDDLE */
.middle{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
    margin-bottom:30px;
}

.box{
    border-radius:18px;
    border:1.5px solid #aaa;
    padding:20px;
}

/* PIE */
.legend{
    display:flex;
    gap:10px;
    font-size:14px;
    margin:10px 0;
}

.blue{color:#2563eb}
.light{color:#93c5fd}
.gray{color:#9ca3af}

.pie{
    width:200px;
    height:200px;
    border-radius:50%;
    background:conic-gradient(
        #2563eb 0% 75%,
        #93c5fd 75% 95%,
        #9ca3af 95% 100%
    );
    margin:auto;
}

/* ACTIVITY */
.activity{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:14px;
}

.activity span{
    display:block;
    font-size:12px;
    color:#666;
}

/* CHART */
.chart{
    border-radius:18px;
    border:1.5px solid #aaa;
    padding:20px;
    text-align:center;
}

.chart img{
    max-width:100%;
}
