* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
}

.app {
    display: flex;
    min-height: 100vh;
}
.menu {
    width: 660px;
    background: #fff;
    padding: 20px;
    border-right: 3px solid #ddd;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
.logo img {
    width: 180px;
    margin-bottom: 10px;
}

.logo h3 {
    color: #1f5eff;
}

.menu-items button,
.menu-footer button {
    width: 100%;
    padding: 30px;
    margin: 6px 0;
    border-radius: 30px;
    border: 1px solid #2ecc71;
    background: transparent;
    text-align: left;
    font-size: 40px;
}

.menu-items button.active {
    background: linear-gradient(to right, #2ecc71, #3498db);
    color: #fff;
    border: none;
}

.menu-footer {
    margin-top: auto;
}
.content {
    flex: 1;
    padding: 25px;
}
.header {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.header input {
    padding: 78px 95px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 40px;
}
.card {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
    font-size: 40px;
}

.sub {
    color: #666;
    margin-bottom: 10px;
}
.filters {
    display: flex;
    gap: 30px;
    margin: 15px 0;
}

.filters input,
.filters select {
    padding: 58px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 40px;
}
.stats {
    display: flex;
    gap: 335px;
    font-weight: bold;
}

.green { color: #2ecc71; }
.orange { color: #f39c12; }
.red { color: #e74c3c; }
.blue { color: #3498db; }
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 100px;
    text-align: center;
}

th {
    background: #f1f1f1;
}

.badge.ok {
    background: #e0f639;
    color: #fff;
    padding: 24px 32px;
    border-radius: 15px;
    font-weight: bold;
}

.action {
    background: #2ecc71;
    color: #fff;
    border: none;
    padding: 16px 62px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}