* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    width: 100%;
    height: 100%;
}
.pantalla {
    width: 100vw;
    height: 100vh;
    background-image: url("./image\ 12.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.logo-container {
    position: absolute;
    bottom: 0px;
    left: 150px;
    width: 340px;
    height: 340px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 70%;
    height: auto;
}
.botones {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn {
    width: 360px;
    padding: 30px 0;
    border: none;
    border-radius: 16px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.btn-login {
    background: #4CAF50;
}

.btn-register {
    background: #42A5F5;
}
.btn:hover {
    opacity: 0.9;
}
