* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 34px;
}

body {
    background: #ffffff;
}
.layout {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    width: 530px;
    background: #f4f4f4;
    border-right: 6px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}
.logo img {
    max-width: 320px;
    height: 250px;
    margin-bottom: 18px;
}

.logo span {
    display: block;
    color: #00d05e;
    font-weight: bold;
}
.menu a,
.menu-bottom a {
    display: block;
    padding: 30px;
    margin-bottom: 8px;
    border-radius: 18px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.menu a:hover,
.menu-bottom a:hover {
    background: #e8f5ee;
}

.menu .active {
    background: linear-gradient(90deg, #3cb371, #2da8a8);
    color: rgb(255, 255, 255);
}

.menu-bottom {
    margin-top: auto;
}

.logout {
    color: #e74c3c;
}
.content {
    flex: 1;
    padding: 60px;
}

.header h1 {
    font-size: 70px;
}

.header p {
    color: #666;
    margin-bottom: 35px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h3 {
    font-size: 40px;
    color: #666;
}

.card .value {
    font-size: 44px;
    font-weight: bold;
    color: #30D138;
}

.card p {
    font-size: 30px;
    color: #797979;
}

.card.alert .value {
    color: #ea1d07;
}
.chart {
    background: white;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-bottom: 30px;
}

.chart h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}
.chart-box,
.chart-placeholder {
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 12px;
    background: #fafafa;
}
.chart-box img,
.chart-placeholder img {
    max-width: 90%;
    max-height: 150%;
    object-fit: contain;
}
.dashboard-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.subtitle {
    font-size: 30px;
    color: #777;
    margin-bottom: 15px;
}
.activity {
    list-style: none;
}

.activity li {
    font-size: 30px;
    margin-bottom: 35px;
}

.activity span {
    display: block;
    font-size: 26px;
    color: #999;
}

.ok { color: #2ecc71; }
.warning { color: #d33800; }
.info { color: #3498db; }
.user { color: #9b59b6; }
.chart-placeholder.pie {
    height: 660px;
}

.chart-placeholder.line {
    height: 900px;
}
.chart-placeholder.pie img {
    max-width: 100%;
}

.chart-placeholder.line img {
    max-width: 100%;
}
.evolution {
    background: white;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
img {
    max-width: 100%;
    height: auto;
}
