* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f5f6fa;
}
.layout {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 560px;
    background: #ffffff;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 45px;
}

.logo img {
    width: 195px;
}

.menu a,
.menu-bottom a {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 40px;
}

.menu a.active {
    background: linear-gradient(90deg, #2ecc71, #3498db);
    color: #fff;

}

.menu-bottom {
    margin-top: auto;
}
.main-content {
    flex: 1;
    padding: 20px;
}
.header {
    background: #fff;
    padding: 15px 20px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-size: 40px;
}
.filters {
    margin: 20px 0;
    background: #fff;
    padding: 15px;
    border-radius: 14px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-size: 40px;
}

.filters select {
    padding: 6px;
    border-radius: 6px;
    font-size: 30px;
}

.btn-export {
    margin-left: auto;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    background: #fff;
    cursor: pointer;
    font-size: 40px;
}
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.card {
    background: #fff;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-size: 40px;
}
.grafico-img {
    width: 100%;
    max-height: 820px;
    object-fit: contain;
}

.mapa-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    max-width: 920px;
}
.zones {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.zone-card {
    background: #fff;
    padding: 150px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-size: 40px;
}
